fastapi
uvicorn
sqlalchemy
asyncpg
aiosqlite
alembic
python-jose[cryptography]
passlib
argon2-cffi
python-multipart
httpx
aiohttp
aiofiles
python-dotenv
pydantic
pydantic-settings
email-validator
openai
groq
fastapi-limiter
redis
python-pptx
reportlab
pytest
pytest-asyncio
aiosmtplib